AlignConsecutiveAssignments: AcrossEmptyLines
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: Chromium
IndentWidth: 4
PointerAlignment: Right
TabWidth: 4
UseTab: Never

